@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 196 21% 89%;
    --foreground: 0 0% 0%;

    --card: 196 21% 89%;
    --card-foreground: 0 0% 0%;
 
    --popover: 196 21% 89%;
    --popover-foreground: 0 0% 0%;
 
    --primary: 19 74% 57%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 196 21% 82%;
    --muted-foreground: 0 0% 40%;
 
    --accent: 196 21% 82%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 19 74% 57%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
